@media screen and (min-width: 641px) {
    
    article{
    
        display: grid;
        grid-template-areas: 
        "name name "
        "figure description"
        "figure address"
        "button button ";
        
        
        animation: return 0.5s linear 1 alternate both ;
    }

    article:hover{

   
        

        animation: jump 0.2s linear 1 alternate both;
    }

    figure{
        width: 300px;
    }



@keyframes jump {

    0%{
        
        transform: translateY(0);
        
      
        
    }

    100%{
       transform: translateY(-5px);
        
        
        box-shadow: 10px 10px 10px 10px rgba(6, 234, 255, 0.3);
    }
    
}

@keyframes return {

    

    0%{
        transform: translateY(-5px);
        box-shadow: 10px 10px 10px 10px rgba(1, 62, 67, 0.3);
       
    }

    100%{
        
        transform: translateY(0);
        
        
        
    }
    
}






#pop-up p {
    font-size: 1rem;

}

#pop-up{

    /* background-color: rgb(255, 255, 203); */
    background-color: rgb(134, 255, 255);
    width: 300px;
    height: 50px;
    border-radius: 20px;
    
    text-align: center;

    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    animation: move 0.4s infinite alternate;
    
}

#pop-up.hide{
    display: none;
}

#pop-up button{

    width: 50px;
    font-size: 1.5rem;
}

}
