

#toolCards{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
article{

    background-color: #e8fccf;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    display: grid;
    grid-template-areas: 
    "h2"
    "p"
    "figure"
    "button";
}

article h2{
    grid-area: h2;
}

article figure{
    grid-area: figure;
    width: 100%;
    height: auto;
    position: relative;
    left: -40px
   
}

article figure img{
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 200px;
    
}

article p{
    grid-area: p;
    overflow: hidden;
}

article button{
    grid-area: button;
    height: 44px;
}


dialog p{

    line-height: 1.8;

}

dialog button{
    height: 44px;
    width: 100%;
    border-radius: 15px;
    font-size: 1.5rem;
}

dialog{
    background-color: #e8fccf;
}


::backdrop{
    background-color: rgba(0, 0, 0, 0.6);
}

#branchButtons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
    
}
#branchButtons button{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 44px;
}

#branchButtons button:hover{
    background-color: rgb(153, 255, 255);
}
